body{ 
  margin: 0;
  overflow: hidden;
}
canvas{ 
  display: block;
}
#particles-js{ 
  position: absolute; 
  width: 100vw; 
  height: 100vh; 
  background-color: black;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 100% 100%; 

}
#buttons{
  background-color: rgba(215, 199, 199, 0.113);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 150px;
  
 
}
.btn{
  width: 200px;
  height: 50px;
  border: none;
}

.btn.selected{
  width: 250px;
  height: 80px;
  box-shadow: 1px 1px 10px white;
}


main .conteudo{
  display: none;
  position: absolute;
  
}

main .conteudo.selected{
  display: block;
}
.tituloPagina{
  color: wheat;
  margin-top: 20px;
  text-align: center;
  font-size: 50pt;
}

.video{

  text-align: center;
  margin: 20px;
}

.video iframe{
  
  height: 400px;
}
.texto{
  color: rgb(0, 0, 0);
  background-color: #ccc;
  text-align: center;
  margin: 50px;
  font-size: 10pt;
  
}
